.table-section {
  margin-top: -23px;
  flex-direction: column;
  flex: 2;
  display: flex;
  gap: 12px;
  max-width: 900px;
}
.table-container {
  overflow-x: auto;
  border-radius: 6px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  background: #fff;
}
.table-heading {
  margin-top: 24px;
  margin-bottom: 10px;
  text-align: center;
  padding: 24px;
  border-radius: 6px;
  font-weight: 600;
  border: 1px solid #ddd;
  background: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
}
#recordsTable {
  min-width: 1500px;
  width: 100%;
  border-collapse: collapse;
}

#recordsTable th,
#recordsTable td {
  padding: 12px 16px;
  border: 1px solid #ddd;
  text-align: center;
  white-space: nowrap;
}
#recordsTable th {
  background: #f3f4f6;
  font-weight: 600;
}
#recordsTable tbody tr:nth-child(even) {
  background-color: #fafafa;
}
#recordsTable td:last-child {
  display: flex;
  gap: 6px;
}
#recordsTable tbody tr:hover {
  background: #eef6ff;
}

#recordsTable button {
  padding: 6px 10px;
  font-size: 12px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}
#recordsTable button:first-child {
  background: #007bff;
  color: #fff;
}
#recordsTable button:last-child {
  background-color: #dc35dc;
  color: #fff;
}
